/* style.css */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #1e272e;
    color: #fff;
    overflow-x: hidden;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
    background-color: #2c3e50;
    text-align: center;
    padding: 20px;
}

.hero-content {
    max-width: 800px;
}

.hero-content h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.hero-content h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1.8em;
    margin-bottom: 1em;
}

.instagram-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.instagram-link:hover {
    background-color: #2980b9;
}

.instagram-link i {
    margin-right: 8px;
}

#portfolio {
    padding: 30px 0;
    text-align: center;
}

.video-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.horizontal-scroll-wrapper {
    overflow-x: auto;
    margin: 0;
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.horizontal-scroll-wrapper::-webkit-scrollbar {
    display: none;
}

.horizontal-scroll {
    display: flex;
    gap: 20px;
    min-width: 100%; /* Garante que todo o conteúdo horizontal seja rolável */
    padding-bottom: 0;
}

.video-item {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    flex-shrink: 0;
    min-width: 250px; /* Largura mínima para os vídeos */
}

.video-container {
    position: relative;
    padding-bottom: 177.78%;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.text-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-size: 1.1em;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
    color: #ddd;
    text-align: center;
}

.text-section p {
    margin: 0;
}

.descricao {
    max-width: 800px;
    margin: 30px auto;
    text-align: left;
    line-height: 1.6;
    color: #ddd;
    font-size: 1.1em;
    font-family: 'Playfair Display', serif;
}

.descricao h3 {
    color: #3498db;
    margin-bottom: 10px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 400;
}


/* Media Queries para responsividade */
@media (max-width: 768px) {
    .video-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .horizontal-scroll {
        justify-content: flex-start;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

}